
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 10%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar-container{
  text-align: center;
  background-color: black;
}

.navbar ul{
  text-align: center;
  display:inline-grid;
}


